<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BloomSourceDeletable</key>
		<true/>
		<key>BloomDictionaryURL</key>
		<string>Dummy</string>
		<key>BloomDictionaryDescription</key>
		<string>Dummy</string>
	</dict>
	<dict>
		<key>BloomSourceDeletable</key>
		<false/>
		<key>BloomDictionaryURL</key>
		<string>http://codekata.com/data/wordlist.txt</string>
		<key>BloomDictionaryDescription</key>
		<string>CodeKata dictionary</string>
	</dict>
</array>
</plist>
